# Ignore everything
*

# But not these files...
!.gitignore
!server.py

# ...even if they are in subdirectories
!*/

# If you have subdirectories that you want to ignore completely, add them here
# For example:
# node_modules/